# extends 'base.html'
# import 'macro/forms.html' as forms

#block content
	<div class="page-header">
		<h1>{{ title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form method="POST" action=".">
				<fieldset>
					{{ form.csrf_token }}
					
					{{ form.text_field(form.name, autofocus=True) }}
					{{ form.email_field(form.email) }}
					{{ form.text_field(form.phone) }}
					{{ form.textarea_field(form.address) }}

					<button type="submit" class="btn btn-primary btn-block">
						Create Contact
					</button>
				</fieldset>
			</form>
		</div>
	</div>
# endblock